<% include ./partials/header %>

<div class="ui main text container segment">
      <div class="ui huge header">Edit <%=blog.title%></div>
<form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
  <div class="field">
    <label>TITLE</label>
    <input name="blog[title]" value="<%=blog.title%>" type="text">
  </div>
  <div class="field">
    <label>Image</label>
    <input name="blog[image]" value="<%=blog.image%>" type="text">
  </div>
  <div class="field">
      <label>Blog</label>
      <textarea name="blog[body]" placeholder="Type your own blog" ><%=blog.body%></textarea>
      
  </div>
  <button class="ui green basic button segment inverted" type="submit">SAVE</button>
</form>
 </div>
<% include ./partials/footer %>